extends layout

block content
    h1.title Who we are
    
    main
    
      div.paragraph-container

        p Calculaw has been developed to provide cutting-edge solutions to lawyers, legal executives and support staff. 
        
        P Originally aimed at providing a simple and reliable way to calculate how rates are shared on settlement, the scope is being expanded to include a GST calculator and interest on civil debt calculator. 

        p Calculaw is about continuing to develop these solutions so that legal teams can reduce time spent on administrative tasks to free up time for higher value activities. 

        p If there are any features or tools that you would like to see included in Calculaw, please don't hesitate to contact us.

        p Happy lawyering!

    include ./footer  