extends layout

block content
    main 
        h1.title Contact us

        h2.slogan We look forward to hearing your questions and comments
        
        div.paragraph-container
            p Email us at calculawhelp@gmail.com 
            p Call us on +64277483096


    include ./footer  