extends layout

block content
    main

        h1.title GST Calculator

        div.response
            section.output-container

                p.output_GST Subtotal: $#{subtotal}

                p.output_GST GST: $#{gst}

                p#output_total Total: $#{total}

    include ./footer 