extends layout

block content
    main 

        h1 Civil Debt Interest Calculator

        div.response
            section.output-container

                p.output_small Debt: $#{debt};

                p.output_small Interest: $#{interest};

                p.output_small Total: $#{totalDue};

    include ./footer 