doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;1,100&amp;display=swap" rel="stylesheet")

  body
    
    nav.navigation
      a(href = "/", target = "_self") Home
      a(href = "/form", target = "_self") Settlement Rates Calculator
      a(href = "/gst_calculator", target = "_self") GST Calculator
      a(href = "/interest_calculator", target = "_self") Interest Calculator
      a(href = "/about", target = "_self") About 
      a(href = "/contact", target = "_self") Contact 
  
    block content
