* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: grey; 
}
html {
  font-size: 16px; 
}
body {
  font-family: "Josefin Sans";
  text-align: center;
  background-color: white; 
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1;
}
.navigation {
  background-color: white; 
  border-bottom: #244431 1px solid;
  width: 100%;
  font-size: 1.3rem;
  display: flex;
  flex: 0;
  justify-content: center;
}
.navigation a {
  color: grey; 
  text-decoration: none;
  position: relative;
  display: inline-block;
  min-width: 10%;
  border: 1px solid white; 
  text-align: center;
  margin-right: 25px;
  padding: 1% 1%;
}
.navigation a:hover {
  background-color: rgb(228, 226, 226);
  border: 1px solid white; 
  color: #244431
}
.title {
  color: #244431;
  padding: 3%;
  font-size: 3rem;
  margin: 20px; 
}
.title_calculator {
  color:#244431;
  padding: 0.3rem;
  font-size: 3rem; 
  margin: 3% 3% 1% 3%; 
}
.slogan {
  padding-bottom: 3%;
  font-size: 2rem; 
}
h2 {
  color: #244431;;
  margin: 15px; 
}
h3 {
  color: #244431;
  font-size: 1.8rem;
  margin: 0.7rem; 
  width: 100%; 
}
h3 a {
  text-decoration: none; 
  color:#244431;
}
.form {
  margin: 2% 10%;

}
.calculators-container {
  margin: 4% auto;
  width: 90%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}
.calculator-container {
  background-color: white; 
  color: #244431;
  border: 1px #244431 solid;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 1.5em;
  min-width: 200px;
  max-width: 250px;
  min-height: 200px;
  max-height: 250px;
  margin: auto; 
  line-height: 2.4em;
}
.calculator-container:hover {
  background-color: rgb(228, 226, 226);
  color: #244431;
}
.step-container {
  margin: 5% auto; 
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.input {
  color: #244431; 
  padding: 15px;
  background: transparent;
  min-width: 15%;
  border: 0px;
  border-radius: 4px;
  font-size: 19px;
  text-align-last: left;
}
.input_interest {
  color:#244431;
  background: transparent;
  border: 0px;
  border-bottom: 1px solid #244431; 
  border-radius: 0;
  font-size: 1.2rem; 
  padding: 1% 2%;
  margin: auto; 
  display: block; 
  text-align-last: center;
  -webkit-appearance:none;
}
.input_radio {
  color:#244431;
  background: transparent;
  border: 0px;
  border-bottom: 1px solid #244431; 
  border-radius: 0;
  font-size: 1.2rem; 
  padding: 1% 2%;
  margin: auto; 
  display: block; 
  text-align-last: center;
}
.radio {
  border-radius: 5px;
  padding: 3% 2%;
}
.radio label, .radio input {
  display: inline-block;
  min-width: 3rem;
  margin: 2% 1%;
}
label {
  color: #244431;
  font-size: 1.6rem;
  font-weight: 900;
  padding: 1% 2% 0% 2%; 
  display: block; 
  margin: 3% 2% 0% 2%
}
::placeholder {
  color: #244431;
  text-align: center;
}
select {
  background: transparent;
  color: #244431;
  font-size: 19px;
  padding: 15px;
  width: min-content;
  border: 0px;
  border-radius: 4px;
  text-align-last: left;
}
.submit {
  border: 1px solid #244431;
  font-size: 25px;
  color: grey;
  background: transparent;
  min-width: 10rem;
  min-height: 3.8rem;
  text-align-last: center; 
  border-radius: 5px;
  margin: 4% auto;
}
.submit:hover {
  background-color: rgb(228, 226, 226); 
  color: #244431; 
}

.output-container {
  min-height: 200px;
  min-width: 500px;
  border-radius: 5px;
  margin: 25px 150px;
}
.council-heading {
  margin: auto;
  color: #244431;
  font-size: 2rem;
  font-weight: 900;
  border-bottom: #244431 1px solid;
  max-width: 25rem; 
}
.output {
  color: #244431;
  font-size: 20px;
  margin: 10px; 
}
.output_small {
  color: #244431;
  font-size: 2rem;
  margin: 3rem auto;
}
#output_total {
  color: #244431;
  font-size: 2rem;
  margin: 3rem auto;
  border-bottom: 1px solid #244431;
  max-width: 20rem; 
}
.paragraph-container {
  font-size: 1.5rem;
  margin: 2% 10%; 
}
.paragraph-container p {
  margin: 3% 2%; 
}
.footer {
  background-color: white; 
  border-top: #244431 1px solid;
  height: 1.3rem;
  width: 100%;
  font-size: 1.3rem;
  text-align: center;
  flex: 0;
}
.footer a {
  color: grey; 
  text-decoration: none;
  position: relative;
  display: inline-block;
  min-width: 10%;
  line-height: 49px;
  height: 49px; 
  border: 1px solid white; 
  text-align: center;
  margin-right: 25px;
  padding: 0% 1%;
}
.footer a:hover {
  background-color: rgb(228, 226, 226);
  border: 1px solid white; 
  color: #244431
}
